snippet fore
	foreach ($${1:variable} as $${2:key} => $${3:value}) {
		${4:// code...}
	}
snippet var_
	// TODO var_dumpを消す！ by Soichiro Yoshimura
	ini_set('xdebug.var_display_max_data', 1048576);
	ini_set('xdebug.var_display_max_depth', 20);
	print_r("\n!DEBUG! var_dump at " . __FILE__ . "(" . __LINE__ . ")" . ": " . __CLASS__ . "#" . __FUNCTION__ . "\n");
	var_dump($${1});
